Node-RED Flow For Auto AI.json
[{"id":"905e88b7.54ba68","type":"tab","label":"Life Expectancy Automated AI","disabled":false,"info":""},{"id":"9e7b99e9.68b9c8","type":"ui_form","z":"905e88b7.54ba68","name":"","label":"","group":"b894d3e1.38628","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":false,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["ebb5154f.58e9d8"]]},{"id":"ebb5154f.58e9d8","type":"function","z":"905e88b7.54ba68","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"VwVn2DvBLBLcLMqAbfX7_FwoKSwHBRsSvKrbOhOJYKua\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["45bb2a67.ba0ec4"]]},{"id":"87f4dfe4.ecde5","type":"http request","z":"905e88b7.54ba68","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/6ed2053d-2c4b-4194-a719-4bfb84df7873/predictions","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["59b8ce5f.77cad"]]},{"id":"f124eb3a.d90a38","type":"debug","z":"905e88b7.54ba68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"59b8ce5f.77cad","type":"function","z":"905e88b7.54ba68","name":"getFrom Endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["f124eb3a.d90a38","829d1793.701b78"]]},{"id":"e5f445f.e9f70b8","type":"function","z":"905e88b7.54ba68","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"796b7c04-94db-4d02-b775-6e8dca25dbf5\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\n\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"input_data\":[{\"fields\":[\"Country\", \"Year\", \"Status\",\t\n    \"Adult Mortality\",\t\"infant deaths\",\n    \"Alcohol\",\"percentage expenditure\",\n    \"Hepatitis B\", \"Measles\",\"BMI\",\n    \"under-five deaths\", \"Polio\",\n    \"Total expenditure\", \"Diphtheria\",\t \n    \"HIV/AIDS\",\t\"GDP\",\n    \"Population\",\"thinness 1-19 years\",\n    \"thinness 5-9 years\",\n    \"Income composition of resources\",\n    \"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["87f4dfe4.ecde5"]]},{"id":"45bb2a67.ba0ec4","type":"http request","z":"905e88b7.54ba68","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["e5f445f.e9f70b8"]]},{"id":"829d1793.701b78","type":"ui_text","z":"905e88b7.54ba68","group":"b894d3e1.38628","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"b1ff778b.4d7d08","type":"ui_template","z":"905e88b7.54ba68","group":"2619f089.6ac26","name":"","order":0,"width":"6","height":"3","format":"<html>\n    <body>\n        <i>Different Countries have Different Environment So,We can't assume all countries have same environment.For accuracy, we have to give the country name and it is not mandatory to give as input</i>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":420,"wires":[[]]},{"id":"b894d3e1.38628","type":"ui_group","z":"","name":"Predicting using AUTO AI","tab":"d26ce5f5.7ae8e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"2619f089.6ac26","type":"ui_group","z":"","name":"Alert!!!","tab":"d26ce5f5.7ae8e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d26ce5f5.7ae8e8","type":"ui_tab","z":"","name":"Predicting Life Expectancy Using Machine Learning","icon":"dashboard","disabled":false,"hidden":false}]